*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
}
.navbar-brand span{
    color: brown;
}
.navbar-brand:hover{
    color: black;
}
.navbar{
    background: gainsboro;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link :hover{
    color: black;
}
.nav-item .nav-link:hover{
    background: brown;
    color: #f9f9f9;
}
.Search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(171, 4, 54);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(171, 4, 54);
    color:white;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background: url(./abc.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:  rgb(171, 4, 54) ;
    color:  white;
    font-weight: 700;
    border-radius: 60px;

}
.btn1:hover{
    background-color: rgb(238, 5, 75);
    transition: 0.5s;
}
.h1{
    font-size: 700;
}
.Card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}
.apple{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./wa2.webp)no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;

}
.apple h1{
    font-family: 'lobster',cursive;
}
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 1px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
